@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    background-color: #f6eee8 !important;
    margin: 0;
}

.container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background: #f7ddc7;
    padding: 20px;
    width: 1000px;
    margin: auto;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.container1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
    background: #f7ddc7;
    padding: 20px;
    width: 1000px;
    margin: auto;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding-top: 60px;
}

h1 {
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.image-container img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.btn {
    background-color: #2a9d8f;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #207567;
}

/*menu*/
.tiles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.tile:nth-child(1) {
    background-image: url('/static/myapp/images/dailyRecord.webp');
}

.tile:nth-child(2) {
    background-image: url('/static/myapp/images/journal2.webp');
}

.tile:nth-child(3) {
    background-image: url('/static/myapp/images/goals.webp');
}

.tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/static/myapp/images/account.webp');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 40%;
    min-width: 300px;
    min-height: 200px;
    text-align: center;
    transition: transform 0.3s ease, background 0.3s ease;
}

.tile:hover {
    background: #dbada6;
    transform: scale(1.05);
}

.tile h2 {
    margin: 0;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px;
    border-radius: 5px;
}

.tile p {
    font-size: 14px;
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px;
    border-radius: 5px;
}

/*logout button*/
.logout-container {
    position: absolute;
    top: 30px;
    right: 20px;
}
.logout-btn {
    background-color: #dbada6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.logout-btn:hover {
    background-color: #e46666;
}

/*table*/
table {
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
}
th, td {
    padding: 12px;
}
th {
    background-color: #f8f9fa;
}
td {
    background-color: #ffffff;
}
.actions {
    cursor: pointer;
    color: #007bff;
}
.actions:hover {
    text-decoration: underline;
}

/*navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #f7ddc7;
    width: 100%;
    position: absolute !important;
    margin-top: 20px;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 15px;
}
.navbar-item {
    display: flex;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.navbar-item:hover {
    color: white;
}

.mg-btn-top {
    margin-bottom: 15px !important;
    margin-top: 30px !important;
}

/*tips section*/
.tip-section {
    background: #fff8e1;
    border-left: 5px solid #ffcc80; /* Highlight section with a warm orange stripe */
    padding: 35px;
    width:100%;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.tip-section:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
}

.tip-section h2 {
    color: #ff7043;
    font-size: 22px;
}

.tip-section p {
    font-size: 16px;
    color: #555;
}


/**/

.form1 {
    max-width: 600px;
    margin: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #2a9d8f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #207567;
}

