<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Add Records</title>

</head>
<body>
<header>
<h1>Self-Care Tracker</h1>
<nav>
    <a href="{% url 'menu' %}">Menu</a>
    <a href="{% url 'display_records' %}">View Journal Entries</a>
    <a href="{% url 'logoutuser' %}">Logout</a>

</nav>
</header>

    <main>
<h2>Your Thoughts</h2>
<form method="POST">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Automatically renders form fields -->
<button type="submit">Save Activity</button>
</form>

        {% if messages %}
<ul>
                {% for message in messages %}
<li>{{ message }}</li>
                {% endfor %}
</ul>
        {% endif %}
</main>

</body>
</html>