{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Goals</title>
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container1">
    <nav class="navbar">
        <div class="navbar-left">
            <a class="navbar-item" href="{% url 'menu' %}">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="Menu Icon"
                     style="width: 20px; height: 20px; margin-right: 5px;"> Menu
            </a>
            <a class="navbar-item" href="{% url 'display_goals' %}">Goals</a>
        </div>
        <form>
            <button type="submit" class="logout-btn" formaction="{% url 'logoutuser' %}">Logout</button>
        </form>
    </nav>
    <h2 class="mg-btn-top">Your Goals</h2>

    <form class="form1" style="width:100%" method="POST">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Automatically renders form fields -->
        <button class="btn btn-warning" type="submit">Save Goal</button>
    </form>

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

</body>
</html>