{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Activities</title>
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<div class="container1">
    <nav class="navbar">
        <a class="navbar-item" href="{% url 'menu' %}">
            <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="Menu Icon"
                 style="width: 20px; height: 20px; margin-right: 5px;"> Menu
        </a>
        <form>
            <button type="submit" class="logout-btn" formaction="{% url 'logoutuser' %}">Logout</button>
        </form>
    </nav>
    <h2 class="mg-btn-top" >Your Daily Activities</h2>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr style="text-align: center;">
            <th>Date</th>
            <th>Water Intake</th>
            <th>Sleep Hours</th>
            <th>Meditation</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for activity in activity_list %}
        <tr style="text-align: center;">
            <td> {{ activity.date }}</td>
            <td> {{ activity.water_intake }}</td>
            <td> {{ activity.sleep_hours }}</td>
            <td> {{ activity.meditation }}</td>
            <td>
                <a href="{% url 'update_activity' activity.id %}" class="btn btn-warning">Update</a>
                <a href="{% url 'delete_activity' activity.id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
</body>
</html>