{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Self-Care Journal</title>
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Your Self-Care Tracker</h1>
        <p class="subtitle">Enjoy life, Stress less</p>
        <div class="image-container">
             <img src="{% static 'myapp/images/image5.webp' %}" alt="Self-care image">
        </div>
        <div class="button-container">
            <a href="/signup"><button class="btn">Sign Up</button></a>
            <a href="/login"><button class="btn">Login</button></a>
        </div>
    </div>
</body>
</html>