{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<form class="form1" name="login" method="post" action="../loginuser">
    {% csrf_token %}

    <label for="tuname">Username:</label>
    <input type="text" id="tuname" name="tuname" placeholder="Enter your Name">

    <label for="tupassword">Password:</label>
    <input type="password" id="tupassword" name="tupassword" placeholder="Enter your Password">


    <input type="submit" name="login" value="Login">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</form>

</body>
</html>