{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<form class="form1" name="register" method="post" action="../insertuser">
    {% csrf_token %}

    <label for="tuname">Username:</label>
    <input type="text" id="tuname" name="tuname" placeholder="Enter your Name">

    <label for="tuemail">Email:</label>
    <input type="email" id="tuemail" name="tuemail" placeholder="Enter your Email">

    <label for="tupassword">Password:</label>
    <input type="password" id="tupassword" name="tupassword" placeholder="Enter your Password">

    <label for="tupassword2">Confirm password:</label>
    <input type="password" id="tupassword2" name="tupassword2" placeholder="Confirm your Password">

    <input type="submit" name="reg" value="Click to Register">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <p class="{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </ul>
    {% endif %}
</form>

</body>
</html>